*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
.buildingbody{
  display: flex;
  justify-content: space-between;
  align-items: start;
  padding: 25px 35px 0 35px;
  height: 81.9vh;
  width: 100%;
  gap: 30px;
  background-color: #f8f8f8;
}
.scrollpage{
  display: flex;
  flex-direction: column;
  overflow: auto;
  height: 453px;
  width: 70%;
  gap: 25px;
  /* background-color: white;
  border: 1px solid rgb(223, 223, 225); */
}
.scrollpage::-webkit-scrollbar{
  display: none;
}
#photo_container{
  display: flex;
  overflow-x: hidden;
  gap: 7px;
  width: 195px;
  scroll-behavior: smooth;
  background-color: #f5f5f5;
  height: 45px;
}
#photo_container::-webkit-scrollbar{
  display: none;
}
#photo_container li{
  list-style-type: none;
}
#photo_container img{
  height: 45px;
  width: 60px;
}
.selectpicbox2{
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  border-radius: 10px;
  height: 56px;
}
.selectpicbox2 img{
  height: 25px;
  width: 25px;
}
.selectedpicbox img{
  height: 240px;
  width: 370px;
}
.selectedpicbox{
  height: 240px;
  width: 370px;
  background-color: #f5f5f5;
}

#view_photo_modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 400px;
  width: 100%;
  gap: 10px;
  padding: 20px 0px;
  border-radius: 10px;
  background-color: white;
  border: 1px solid rgb(223, 223, 225);
}
.deschighlightsBox{
  display: flex;
  justify-content: center;
  gap: 25px;
  width: 100%;
}
.deschighlightsBox div{
  height: 150px;
  border-radius: 10px;
  background-color: white;
  border: 1px solid rgb(223, 223, 225);
}
.descbox{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  padding: 10px 20px;
  gap: 15px;
}
.deschighlightsBox .descbox textarea{
  height: 180px;
  border: none;
  width: 100%;
  line-height: 1.5;
  word-spacing: 2px;
}
.highlightsbox{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  gap: 15px;
  padding: 10px 20px;
}
.highlightsbox ul{
  list-style-type: none;
  display: grid;
  grid-template: 1fr 1fr 1fr 1fr;
  width: 100%;
  /* display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px; */
}
.highlightsbox ul li{
  line-height: 1.5;
  word-spacing: 2px;
  font-size: 15px;
}
.additionaldatabox{
  display: flex;
  justify-content: space-between;
}
.additionaldatabox div{
  height: fit-content;
  width: 31%;
  border-radius: 10px;
  padding: 20px;
  background-color: white;
  line-height: 1.5;
  word-spacing: 2px;
  gap: 10px;
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(223, 223, 225);
}
.additionaldatabox div h3{
  text-align: center;
}
.additionaldatabox div button{
  width: 100%;
  padding: 7px 0;
  border-radius: 5px;
  border: none;
  background-color: black;
  color: white;
}
.additionaldatabox div a{
  text-decoration: none;
  border-radius: 5px;
  background-color: black;
  color: white;
  text-align: center;
  font-size: 13px;
  padding: 5px 0;
  cursor: pointer;
}
.additionaldatabox div a:hover{
  cursor: pointer;
}
.room_update_button{
  cursor: pointer;
}
.policiesbox, .feedbacksbox{
  border: 1px solid rgb(223, 223, 225);
  background-color: white;
  border-radius: 10px;
  padding: 20px;
}
.policiesbox div,
.feedbacksbox .title {
  width: 100%;
}
.policiesbox ul{
  padding: 20px;
  gap: 10px;
  display: flex;
  flex-direction: column;
  border-top: 1px solid #746154;
  list-style-type: none;
}
.feedbacksbox .feedbacks{
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  border-top: 1px solid #746154;
}
/* .feedbacks p{ */
  /* padding: 0 20px 20px 20px; */
/*   
} */
.fixedpage{
  display: flex;
  flex-direction: column;
  height: 470px;
  gap: 10px;
  width: 32%;
  border: 1px solid rgb(223, 223, 225);
  background-color: #f3ede5;
  padding: 18px;
  border-radius: 10px;
}
.fixedpage .bhousenamebox{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.bhouseicons{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: fit-content;
  gap: 10px;
}
.fixedpage div img{
  height: 25px;
  width: auto;
}
.infobox{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.infobox a{
  text-align: center;
  width: 100%;
  /* background: linear-gradient(10deg, #746154, #e6e6dd); */
  text-decoration: none;
  color: white;
  border: 1px solid black;
  padding: 7px 0;
  border-radius: 7px;
  background-color: rgba(0, 0, 0, 0.8);
  cursor: pointer;
}

.verifyRequestbox{
  display: flex;
  align-items: center;
  justify-content: left;
  width: 100%;
  gap: 10px;
}
#qr_container{
  display: flex;
  justify-content: space-between;
  width: 190px;
}
#verify_btn{
  padding: 5px 10px;
}
#online_transaction_container div button{
  padding: 5px 10px;
}
#add_new_room_btn{
  cursor: pointer;
}
.infobox button{
  border: 1.8px solid black;
  background-color: #f4f4f4;
  padding: 7px 0;
  border-radius: 7px;
}
.owner{
  font-size: 14px;
  color: rgba(0, 0, 0, 0.3);
}
p span{
  color: black;
  font-weight: 600;
}
.roomsbox{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  padding: 10px;
  gap: 10px;
  background-color: rgba(255, 255, 255, 0.5);
  color: black;
  border: 1px solid rgba(239, 239, 240);
  overflow: auto;
  border-radius: 5px;
}
.roomsbox div{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  overflow: auto;
}
.roomsbox div::-webkit-scrollbar{
  display: none;
}
.roomsbox div p{
  padding: 9px 0;
  width: 80%;
  text-align: center;
  border-bottom: 1px solid rgb(223, 223, 225);
  cursor: pointer;
}

/* CSS for modal */
.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(5px);
  overflow: hidden;
}

.modal::-webkit-scrollbar{
  display: none;
}
.modal form{
  border: 1px solid black;
}

.hidden {
  display: none; /* Helper class to hide the modal */
}

/* Optional: Add backdrop to cover the rest of the page */
#modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5); /* Semi-transparent dark background */
  z-index: 999; /* Just behind the modal */
  display: none;
}


/* FOR BOOKMARK THINGS */
@keyframes pulse{
  0%{ transform: scale(1); }
  50%{ transform: scale(1.5); }
  100%{ transform: scale(1); }
}

#heart_sign {
  width: 30px;
  height: 30px;
  background-image: url('../imgs/svgs/black_heart.svg');
  background-size: contain;
  background-repeat: no-repeat;
  transition: background-image 2 ease;
}

#heart_sign.heart-active {
  animation: pulse 1s ease;
  background-image: url('../imgs/svgs/red_heart.svg');
}
.feedback_box{
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 10px;
}
.feedback_box textarea{
  width: 70%;
  height: 100px;
  border: none;
  border-radius: 5px;
  background-color: #f5f5f5;
  padding: 5px;
}
.feedback_box input[type="submit"]{
  background-color: black;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 8px 20px;
}

#report_modal{
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 10px;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid rgba(239, 239, 240);
}

#report_modal .textarea_button_box{
  width: 100%;
}

#report_modal .textarea_button_box textarea{
  width: 70%;
  height: 100px;
  border: none;
  border-radius: 5px;
  background-color: #f5f5f5;
  padding: 5px;
}

#report_modal .textarea_button_box button{
  background-color: black;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 8px 20px;
}

#send_message{
  position: relative;
  border: 1.8px solid black;
  background-color: #f4f4f4;
  border-radius: 7px;
  width: 100%;
  height: 35px;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: row;
  user-select: none;
}

#send_message img{
  position: static;
  height: 100%;
  margin-right: 5px;
  color: white;
  user-select: none;
}

#send_message p{
  user-select: none;
  cursor:default;
}

#report_modal.hidden{
  display: none;
}

/* #qr_modal{
  position: relative;
} */

#qr_img{
  max-width: 100%;
  max-height: 100%;
}

#qr_close_btn{
  position: absolute;
  top: 10px;
  right: 10px;
  width: 5%;
}

.hidden{
  display: none !important;
}

#payment_form{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 80%;
  padding: 30px;
  width: 38.4%;
  background-color: #fff;
  border-radius: 20px;
  gap: 20px;
}

#receipt_preview, #receipt_preview img{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  width: 300px;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}
.inputfields{
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}
.choosefilediv{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  gap: 10px;
  width: 100%;
}
.choosefilediv input{
  background-color: #d4d3d3;
  border-radius: 5px;
  padding: 3px;
}

.referalNumber{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  width: 100%;
}
.referalNumber input{
  background-color: #d4d3d3;
  border-radius: 5px;
  padding: 3px;
  border: none;
  width: 60%;
}

#payment_btn_box{
  display: flex;
  justify-content: space-between;
  width: 60%;
}
#send_payment_btn{
  width: 30%;
  padding: 8px 0;
  background-color: green;
  border: none;
  border-radius: 3px;
  color: white;
}
#cancel_payment_btn{
  width: 30%;
  padding: 8px 0;
  background-color: red;
  border: none;
  border-radius: 3px;
  color: white;
}