

section {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 86.6vh;
    padding: 25px;
    gap: 30px;
    background-color: #f5f5f5;
}
#left_bar{
    height: 100%;
    display: flex;
    flex-direction: column;
    width: fit-content;
    border-radius: 15px;
    gap: 15px;
}
#left_bar .leftbarbox{
    width: 220px;
    overflow: auto;
}
.adiv{
    text-align: center;
}
.leftbarbox::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

.leftbarbox::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}

.leftbarbox::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

.leftbarbox::-webkit-scrollbar-thumb:hover {
    background: #555;
}
#add_building_btn{
    background-color: #000;
    color: white;
    padding: 12px;
    border-radius: 5px;
    border: none;
}
img[src*="down.png"] {
    filter: invert(1);
}

.adiv h3{
    color: #757575;
}
.leftbarbox .adiv a{
    border-bottom: 1px solid #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
    text-decoration: none;
    color: #fff;
    background-color: #000;
}
/* .adiv:first-of-type .buildingname {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
} */

.adiv{
    background-color: #f5f5f5;
}
.leftbarbox a.active img {
    transform: rotate(180deg);
    transition: transform 0.2s ease 0.1s;
}
.leftbarbox img{
    height: 30px;
    width: 30px;
    transition: transform 0.2s ease;
}
.leftbarbox,
.edit_btn_list {
    list-style-type: none;
}
.edit_btn_list{
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    flex-direction: column;
    transition: max-height 1s ease, opacity 1s ease;
}
.edit_btn_list.show {
    max-height: fit-content;
    opacity: 1;
}

#room_bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 520px;
    height: 100%;
    background-color: #f3ede5;
    border-radius: 20px;
    padding: 15px 0px;
}
#add_room_btn{
    background-color: #000;
    color: white;
    padding: 7px;
    width: 90%;
    border: none;
    border-radius: 5px;
}
#room_view{
    height: 100%;
}
#rooms_container{
        /* display: none; PLEASE DONT */
    flex-direction: column;
    height: fit-content;
    gap: 20px;
    width: 280px;
    padding: 15px;
    border-radius: 15px;
    height: 100%;
    overflow: auto;
}
#rooms_container::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

#rooms_container::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}

#rooms_container::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

#rooms_container::-webkit-scrollbar-thumb:hover {
    background: #555;
}
#rooms_container .room_item{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 15px;
    border-radius: 5px;
    background-color: white;
}
.photo_btn,
.room_update_btn{
    background-color: #000;
    font-size: 10px;
    border: none;
    padding: 7px 20px;
    border-radius: 5px;
    color: white;
}
.backbtn{
    border: none;
    background-color: none;
}
.name_button{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.name_button img{
    height: 25px;
    
}

#room_name{
    color: black;
}
#rooms_container .btn_div{
    display: flex;
    justify-content: space-between;
}

.form_item{
    display: flex;
}

.room_photos {
    width: 90%;
}

#large_image_view{
    width: 80%;
    height: 80%;
    background-size: contain;  
    background-repeat: no-repeat;
    background-position: center;
}

#photo_container{
    display: flex;
    flex-direction: column;
    height: 350px;
    list-style-type: none;
    overflow: auto;
    gap: 10px;
}
#photo_container::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

#photo_container::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}

#photo_container::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

#photo_container::-webkit-scrollbar-thumb:hover {
    background: #555;
}

#photo_container li {
    position: relative;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: end;
}
.delete-icon{
    position: absolute;
    right: -5px;
}
.room_photos{
    height: 100%;
    width: 100%;
}
#photo_view{
    /* display: none; PLEASE DONT */
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow: auto;
    background-color: #f3ede5;
}
#photo_view .edit_btn{
    background-color: #000;
    color: white;
    border: none;
    padding: 10px 0px;
    width: 100%;
    border-radius: 5px;
    /* 
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-size: 25px; 
    */
}
#photo_name{
    font-family: "Anton", sans-serif;
    font-weight: 400;
}
.name_button h3{
    font-family: "Anton", sans-serif;
    font-weight: 400;
}
.delete-icon {
    width: 16px;
    height: 16px;
    vertical-align: middle;
    margin-right: 5px; 
}

.hiddenbtns li{
    display: flex;
    justify-content: end;
    width: 100%;
    background-color: #746154;
}
.hiddenbtns li .div{
    min-height: 100%;
    min-width: 20%;
    background-color: #f5f5f5;
    border-top-right-radius: 20px;
}
.hiddenbtns li .div1{
    min-height: 100%;
    min-width: 20%;
    background-color: #f5f5f5;
}
.hiddenbtns li:last-child {
    background-color: #f5f5f5;
}
.hiddenbtns li button{
    width: 80%;
    text-align: left;
    border: none;
    background-color: #746154;
    color: white;
    height: 100%;
    padding: 10px 15px;
    border-bottom: 1px solid #f5f5f5;
    transition: background-color ease 0.15s;
}
.hiddenbtns li button:hover{
    background-color: #000;
}
.li{
    transition: background-color ease 0.15s;
}
.li:hover{
    background-color: #000;
}
.edit_btn_list li:last-child .edit_btn {
    border-bottom-left-radius: 20px;
}
.no-border {
    border-bottom: none;
    border-bottom-left-radius: 20px;
}

.gap-added {
    margin-right: 30px;
}

#photo_view{
    /* display: none; PLEASE DONT */
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 280px;
    padding: 15px;
    height: 100%;
    border-radius: 15px;
}
#no_room_message{
    margin-top: 10px;
    font-family: "Anton", sans-serif;
    font-weight: 400;
    /* font-size: 25px;  */
}
#form_container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #fff;
    border-radius: 15px;
}
#building_form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    border-radius: 15px;
    padding: 10px;
}
#building_form h1{
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-size: 25px;
}
#building_update_form{
    display: flex;
    justify-content: space-between;
    align-items: start;
    height: 90%;
    width: 85%;
    background-color: #f3ede5;
    border-radius: 10px;
    padding: 20px;
}
#building_update_form .mainimgbox{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 25%;
    padding: 10px;
    gap: 8px;
    background-color: #000;
    border-radius: 10px;
}

#building_update_form .mainimgbox input[type="submit"]{
    padding: 5px;
    background-color: #fff;
    color: #000;
    width: 72%;
    border: none;
    border-radius: 5px;
}
#building_update_form section div{
    display: flex;
    flex-direction: column;
    gap: 0;
}
.imgbox label{
    color: white;
}
.input_box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    gap: 5px;
}
.input_label_div{
    display: flex;
    justify-content: space-between;
    align-items: start;
    width: 100%;
}
.input_label_div input{
    padding: 6px;
    width: 50%;
    background-color: #f5f5f5;
    border: none;
}
.input_label_div textarea{
    height: 60px;
    padding: 5px;
    width: 50%;
    background-color: #f5f5f5;
    border: none;
}


#amenities_section{
    /* display: none; PLEASE DONT */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    border-radius: 15px;
    gap: 15px;
}
#amenities_section h1{
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-size: 25px;
}
#amenities_create_form,
#amenity_update_form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 20px;
    padding: 20px;
    border-radius: 15px;
    background-color: #f3ede5;
}
#amenity_form{
    display: flex;
    width: 40%;
}
.all_checkboxes_container{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.checkbox_div2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
    width: 100%;
}
#amenities_create_form button,
#amenity_update_form button{
    padding: 10px 60px;
    border-radius: 10px;
    border: none;
    background-color: #000;
    color: #fff;
}

#policies_form{
    /* display: none; PLEASE DONT */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    gap: 20px;
}
#policies_form h1{
    font-family: "Anton", sans-serif;
    font-weight: 400;
}
#add_policy_btn{
    width: 50%;
    padding: 7px 0px;
    border: none;
    background-color: black;
    color: white;
    border-radius: 5px;
}

#policies_form .policies_div{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 60%;
    height: 70%;
    padding: 20px;
    gap: 20px;
    background-color: #f3ede5;
    border-radius: 15px;
}
#policies_container{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 5px;
    overflow: auto;
}
#policies_container::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

#policies_container::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}

#policies_container::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 10px;
}

#policies_container::-webkit-scrollbar-thumb:hover {
    background: #555;
}
#policies_container li{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#policies_container li p{
    width: 65%;
    padding: 6px 5px;
    background-color: #f5f5f5;
    height: 70px;
}
#policies_container li textarea{
    width: 65%;
    padding: 5px;
    background-color: #f5f5f5;
    height: 70px;
}
.buttonbox,
.addbox{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 30%;
    gap: 10px;
}
.buttonbox button,
.addbox button{
    border: none;
    background-color: #000;
    color: white;
    border-radius: 5px;
    height: 100%;
}
.save_update_policy{
    padding: 8px 0px;
    width: 30%;
    border: none;
    background-color: #000;
    color: white;
    border-radius: 5px;
}


#upload_room_photo {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#upload_room_photo h1 {
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-size: 24px;
    margin-bottom: 20px;
}

#upload_room_photo_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

#room-photo-upload {
    display: none;
}

#room-file-drag {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    background-color: #f3ede5;
    border: 2px dashed #bbb;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    cursor: pointer;
}

#room-image-preview {
    max-width: 100%;
    max-height: 200px;
    margin-bottom: 15px;
}

#room-start i {
    font-size: 32px;
    color: #007bff;    
    margin-bottom: 10px;
}

#room-start div {
    font-size: 16px;
    color: #666;
    margin-bottom: 10px;
}

#room-notimage {
    color: red;
    font-size: 14px;
    display: none; /* Hidden initially */
}

#room-file-upload-btn {
    font-size: 16px;
    color: #fff;
    background: #454cad;
    border-color: #454cad;    
    border-radius: 5px;
    cursor: pointer;
}

#room-response {
    display: none;
    margin-top: 10px;
}

#room-response .progress {
    width: 100%;
    height: 8px;
    margin-bottom: 10px;
    background-color: #ddd;
}

#upload_room_photo_btn {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

#upload_room_photo_btn:hover {
    background-color: #218838;
}

#room-file-drag:hover {
    border-color: #007bff;
}

#room-file-drag:active {
    background-color: #f0f0f0;
}



#edit_room_form{
    height: 100%;
    width: 100%;
        /* display: none; PLEASE DONT */
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#edit_room_form h1{
    font-family: "Anton", sans-serif;
    font-weight: 400;
}
#edit_room_form_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    gap: 20px;
}
.editroombox{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.editroombox2{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.lblinptdiv{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#edit_room_form_container div input{
    width: 50%;
    background-color: #f5f5f5;
    border: none;
    padding: 6px;
}

.additionalinfobox{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 5px;
}
.checkboxsdiv{
    display: flex;
    width: 200px;
}
.checkboxsdiv label{
    width: 200px;
}
#edit_room_save{
    width: 50%;
    background-color: #000;
    color: white;
    border: none;
    padding: 8px;
    border-radius: 5px;
}

#new_room_form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    gap: 15px;
}
#room_form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75%;
    background-color: #f3ede5;
    padding: 15px 20px;
    gap: 10px;
    border-radius: 15px;
}
.newroominputs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    width: 100%;
}
.newroominputs div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.newroominputs div input{
    border: none;
    padding: 3px;
    width: 50%;
    background-color: #f5f5f5;
}
.newroomcheckbox{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 5px;
}
.newroomcheckbox div{
    display: flex;
    justify-content: space-between;
    width: 140px;
}
#addroomsave{
    background-color: #000;
    color: white;
    padding: 7px;
    width: 60%;
    border: none;
    border-radius: 5px;
}
.hidden {
    display: none !important;
}

.hide{
    display: none;
}

#new_building_form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    border-radius: 15px;
    padding: 10px;
}
#new_building_form h1{
    font-family: "Anton", sans-serif;
    font-weight: 400;
}
.newbuildingform{
    display: flex;
    justify-content: space-between;
    align-items: start;
    height: 90%;
    width: 85%;
    background-color: #f3ede5;
    border-radius: 10px;
    padding: 20px;

}
.newbuildingform .newbuildinginputmainbox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    gap: 5px;
}
.newbuildingform .newbuildinginputmainbox2{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 25%;
    padding: 10px;
    gap: 8px;
    border-radius: 10px;
}
.newbuildingform .newbuildinginputmainbox .newbuilddiv{
    display: flex;
    justify-content: space-between;
    align-items: start;
    width: 100%;
}
.newbuilddiv label{
    color: #000;
}
/* .newbuilddiv2{
    display: flex;
    flex-direction: column;
} */
 #hidden{
    display: none;
 }

.newbuildingform .newbuildinginputmainbox .newbuilddiv div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    height: 100%;
}
.newbuildingform .newbuildinginputmainbox .newbuilddiv input[type="text"],
.newbuildingform .newbuildinginputmainbox .newbuilddiv input[type="number"]{
    padding: 6px;
    width: 50%;
    background-color: #f5f5f5;
    border: none;
}
.newbuildingform div textarea{
    height: 60px;
    padding: 5px;
    width: 50%;
    background-color: #f5f5f5;
    border: none;
}
#newbuildsubmit{
    background-color: #fff;
    border: none;
    color: #000;
    width: 60%;
    padding: 5px;
    border-radius: 5px;
}

.newbuilddiv2 div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    background-color: #000;
    color: white;
    border-radius: 5px;
}
/* .newbuilddiv2 div label{
    margin-right: 50px;
} */

#upload_certificate {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 30px;
}

#upload_certificate_container {
    width: 100%;
}

#certificate-upload-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
}

#certificate-upload {
    display: none; /* Hide the input field visually */
}

#file-drag2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 20px;
    border: 2px dashed #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
    cursor: pointer;
    transition: background-color 0.3s ease;
    height: 220px;
}

#file-drag2:hover {
    background-color: #f3f3f3;
}

#certificate-image {
    max-width: 100%;
    max-height: 200px;
    margin: 10px 0;
}

#start2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: #555;
    
}

#start2 .fa-download {
    font-size: 24px;
    color: #007bff;
}

#notimage2 {
    color: red;
    font-size: 12px;
    margin-top: 10px;
}

#response2 {
    display: none; /* Hidden by default */
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

#messages2 {
    font-size: 14px;
    color: #333;
}

#file-progress2 {
    width: 100%;
    height: 10px;
    border-radius: 5px;
}

#upload_certificate_btn {
    border: none;
    background-color: #28a745;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

#upload_certificate_btn:hover {
    background-color: #0056b3;
}


#certificate_bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 520px;
    height: 100%;
    background-color: #f3ede5;
    border-radius: 20px;
    padding: 15px 0px;
    gap: 10px;
}
#certificatelists{
    display: flex;
    flex-direction: column;
    list-style-type: none;
    height: 80%;
    width: 80%;
    gap: 1px;
}
#certificatelists li{
    padding: 5px;
    text-align: center;
    background-color: rgba( 255, 255, 255, 0.4);
    text-decoration: none;
    color: #000;
    border-radius: 3px;
}
#certificatelists li:hover{
    background-color: rgba(0, 0, 0, 0.2);
    color: white;
    cursor: pointer;
}
#add_certificate_btn{
    padding: 7px 30px;
    border-radius: 5px;
    background-color: #000;
    color: #fff;
    border: none;
}
#building_image_box {
    position: relative;
    width: 150px;
    height: 125px;
    background-color: #fff;
    width: 100%;
    border-radius: 10px;
}

#bldg_image, #new_bldg_image{
    width: 100%;
    height: 100%
}

#gcash_box {
    position: relative;
    width: 150px;
    height: 125px;
    background-color: #fff;
    width: 100%;
    border-radius: 10px;
}

#gcash_image, #new_gcash_image{
    
    width: 100%;
    height: 100%;
}

.image_upload_icon{
    position: absolute;
    bottom: 5px;
    right: 5px;
    border-radius: 50%;
    width: 20%;
    height: 20%;
    z-index: 2;
    background-color: #fff;
}

#view_certificate{
    width: 100%;
    height: 100%;
}
#certificate_view_container{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 30px;
    gap: 20px;
}
#cert_box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#cert_box img{
    height: 300px;
    width: 300px;
}
#certificate_name{
    text-align: center; 
}

.fullscreen-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.9);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.fullscreen-overlay img {
    max-width: 95%;
    max-height: 95%;
    object-fit: contain;
}