#messages-container {
    width: 50%;
    /* max-height: 200px; */
    position: fixed;
    bottom: 20px;
    left: calc(100% + 1px);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 10px; /* Add space between messages */
    /* overflow-x: visible;
    overflow-y: hidden; */
}

.message {
    width: fit-content;
    max-width: 100%;
    height: auto;
    background-color: #333;
    position: relative;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-size: 14px;
    z-index: 1000; /* Ensure it overlays other elements */
    /* animation: slideInOut 5s ease-in-out; */
}

.newmessage {
    width: fit-content;
    max-width: 100%;
    height: auto;
    background-color: #333;
    color: white;
    font-weight: bold;
    position: relative;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-size: 14px;
    z-index: 1000; /* Ensure it overlays other elements */
    /* animation: slideInOut 5s ease-in-out; */
}

.error_message{
    color: #000000;
    background-color: rgb(255, 104, 104);
}
.success_message{
    color: #000;
    background-color: #0f0;
}

@keyframes slideInOut{
    0%{
        display: block;
    }
    1%{
        opacity: 80%;
        right: 0;
    }
    10%{
        opacity: 80%;
        right: 102%;
    }
    20%{
        opacity: 100%;
    }
    85%{
        opacity: 100%
    }
    90%{
        opacity: 100%;
        right: 102%;
    }
    95%{
        opacity: 30%;
        right:100%
    }
    99%{
        opacity: 0%;
        right: 0%;
    }
    100%{
        display: none;
    }
}