#messages-container {
    width: 100%;
    position: fixed;
    bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    /* top: 80px;
    right: -120px; */
}

.message {
    width: fit-content;
    max-width: 100%;
    height: auto;
    background-color: #333;
    position: relative;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-size: 14px;
    z-index: 1000; /* Ensure it overlays other elements */
    /* animation: slideInOut 5s ease-in-out; */
}

.newmessage {
    width: fit-content;
    max-width: 100%;
    height: auto;
    background-color: #333;
    color: white;
    font-weight: bold;
    position: relative;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-size: 14px;
    z-index: 1000; /* Ensure it overlays other elements */
    /* animation: slideInOut 5s ease-in-out; */
}

.error_message{
    color: #000000;
    background-color: rgb(255, 104, 104);
}
.success_message{
    color: #fff;
    background-color: rgb(0, 158, 0);
}

@keyframes slideInOut{
    0%{
        opacity: 100%;
        display: block;
    }
    1%{
        opacity: 100%;
        /* right: 0; */
    }
    /* 10%{
        opacity: 80%;
        right: 102%;
    } */
    20%{
        opacity: 100%;
    }
    /* 85%{
        opacity: 100%
    } */
    90%{
        opacity: 100%;
        /* right: 102%; */
    } 
    95%{
        opacity: 30%;
        /* right:100% */
    }
    99%{
        opacity: 0%;
        /* right: 0%; */
    }
    100%{
        opacity: 0%;
        display: none;
    }
}

#messaging_container{
    position: fixed;
    bottom: 20px;     
    right: 20px;      
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
}

#bubble{
    width: 70px;
    height: 70px;
    padding: 10px;
    border-radius: 50%;

    /* make unselectable */
    user-select: none; 
    -webkit-user-select: none;  /* Safari */
    -moz-user-select: none;     /* Firefox */
    -ms-user-select: none;      /* IE/Edge */
}

#message-bubble {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;  
    background-color: #fff;  
    border-radius: 50%;
}

#messaging_container #inbox, #message_convo{
    width: 400px;
    height: 500px;
    margin-right: 10px;
    background-color: rgb(204, 204, 204);
}

#message_convo{
    position: relative;
    display: flex;
    flex-direction: column;
}

#inbox_head{
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    background-color: #000;
    gap: 100px;
    padding: 0px 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
#convo_head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #000;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 10%;
}
#convo_head h4{
    color: white;
}
#inbox_head h4{
    color: white;
}
#inbox_head {
    height: 10%;
}


#convo_body{
    height: 80%;
    background-color: #f5f5f5;
}

#inbox{
    border-radius: 10px;
    border: 1px solid #000;
}
#message_close_btn{
    height: 25px;
    width: 25px;
    filter: invert(24%) sepia(100%) saturate(7500%) hue-rotate(0deg);
}

#user_image{
    height: 30px;
    width: 30px;
    border: 1px solid black;
    border-radius: 50%;
    background-color: #dadada;
}

#message_back_btn{
    margin-right: 10px;
    filter: invert(1) brightness(2);
    height: 25px;
    width: 25px;
}

#convo_footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10%;
    background-color: #000;
    width: 100%;
    padding: 0px 10px;
}
#convo_footer img{
    height: 33px;
    width: 33px;
}
/* #convo_footer textarea{
    height: 40px;
} */

#label_holder{
    width: auto;
}
#send_convo_form{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
#send_convo_form textarea{
    height: 25px;
    text-align: left;
    padding: 4px 5px;
    border-radius: 3px;
    resize: none;
    overflow: auto;
}
#send_convo_form textarea::-webkit-scrollbar {
    display: none; /* For WebKit browsers (Chrome, Safari) */
}
#send_convo_form button{
    padding: 5px 10px;
    background-color: #f3ede5;
    border: none;
    border-radius: 3px;
}
#attach_photo{
    width: 100%;
    height: 100%;
}

 /* IMAGE PRELOAD */
 #image_preview_container {
    margin-top: 10px;
    max-width: 200px;
    height: auto;
}

/* IMAGE ATTACHMENT STYLE */
.attachment_container{
    position: relative;
}

.del_attachment{
    width: 30px;
    height: 30px;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 50%;
    /* padding: 5px 10px; */
}

.preview_img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    object-fit: contain;
}

/* CONVO BODY */
#convo_list{
    height: 100%;
    padding: 10px 0px;
    overflow-y: scroll;
}

.boarder_message_container{ /* convo_text_container */
    display: flex;
    flex-direction: row;
}

.landlord_message_container{ /* convo_text_container */
    display: flex;
    flex-direction: row-reverse;
}

.convo_time{
    text-align: center;
    font-size: 10px;
}

.boarder_message_text{
    display: inline;
    background-color: rgb(231, 231, 231);
    max-width: 80%;
    height: fit-content;
    padding: 5px;
    margin-left: 3%;
    border-radius: 8px;
}

.landlord_message_text{
    display: inline;
    background-color: rgb(231, 231, 231);
    max-width: 80%;
    height: fit-content;
    padding: 5px;
    margin-right: 3%;
    border-radius: 8px;
}

.convo_image{
    padding: 0 3%;
    width: 80%;
}

.boarder_profile_icon{
    background-color: grey;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin-left: 10px;
}

.landlord_profile_icon{
    background-color: grey;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.hidden {
    display: none !important;
}

/* INBOX DESIGN */

#inbox_container{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    background-color: #f5f5f5;
    width: 100%;
    height: 90%;
    padding: 0px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.inbox_item{
    display: flex;
    flex-direction: row;
    width: 100%;
    user-select: none;
    padding: 5px;
    height: 50px;
    -webkit-user-select: none;  /* Safari */
    -moz-user-select: none;     /* Firefox */
    -ms-user-select: none;      /* IE/Edge */
    overflow: hidden;
}
.inbox_item:hover{
    background-color: rgba(0, 0, 0, 0.1)    ;
}
.profile_icon{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.inbox_design_control{
    display: flex;
    flex-direction: column;
    gap: 3px;
    overflow: hidden;
}
.inbox_item img{
    height: 100%;
    margin: 0 10px;
}

.receiver_name{
    font-size: medium;
    font-weight: bold;
}

#load_previous_convo{
    user-select: none;
    -webkit-user-select: none;  /* Safari */
    -moz-user-select: none;     /* Firefox */
    -ms-user-select: none;      /* IE/Edge */
}

#messages-container {
    pointer-events: none;
}
