{% extends 'index.html' %}

{% block stylecontent %}
{% load static %}
    <link rel="stylesheet" href="{% static 'css/bookmarks.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">
{% endblock stylecontent %}


{% block bodycontent %}
    <section>
        <h1>BOOKMARKS</h1>
        <div class="buildings">

        </div>

    </section>

    <script src="{% static 'scripts/bookmarks.js' %}"></script>
{% endblock %}
