{% extends 'index.html' %}

{% block stylecontent %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/building.css' %}?103">
    <link rel="stylesheet" href="{% static 'css/modal.css' %}?100">

{% endblock stylecontent %}
{% block bodycontent %} 
    <section class="buildingbody">
        <input type="hidden" id="buildingid" name="public_buildingid" value="{{ building.buildingid }}">
        <input type="hidden" id="roomid" name="active_roomid">
        <div class="scrollpage">
            {% comment %} VIEW ROOM PHOTOS Modal {% endcomment %}
            <div id="view_photo_modal" >
                <div class="selectedpicbox">
                    <!-- ari ang display sa selected picture -->
                </div>
                
                <div class="selectpicbox2">
                    <img id="prev_btn" src="{% static 'imgs/building/previous.png' %}" alt="">
                    <ul id="photo_container" >
                        
                        {% comment %} ANG JAVASCRIPT MO BUTANG ELEMENTS DIRI {% endcomment %}
                        
                    </ul>
                    <img id="next_btn" src="{% static 'imgs/building/next-button.png' %}" alt="">
                </div>
            </div>
            <!-- <button id="view_photo_close">Close</button> -->
            <div class="deschighlightsBox">
                <div class="descbox">
                    
                    <h2>Description</h2>
                    <textarea name="" id="" cols="30" rows="10">{{ building.details }}</textarea>
                </div>
                <div class="highlightsbox">
                    <h1>Amenities</h1>
                    <p>{% if highlights.free_wifi %}Free wifi, {% endif %}
                       {% if highlights.shared_kitchen %}Shared Kitchen, {% endif %}
                       {% if highlights.smoke_free %}Smoke Free, {% endif %}
                       {% if highlights.janitor %}Janitor, {% endif %}
                       {% if highlights.guard %}Guard, {% endif %}
                       {% if highlights.waterbill %}Water Bill, {% endif %}
                       {% if highlights.electricbill %}Electric Bill, {% endif %}
                       {% if highlights.food %}Canteen, {% endif %}
                    </p>
                </div>
            </div>
            <p style="display: none;" id="room_id_display">Room ID: {{ rooms.first.roomid }}</p>
            {% for room in rooms %}
            <div data-roomid="{{ room.roomid }}" class="additionaldatabox">
                <div>
                    <h3>Room</h3>
                    <article>
                        <p>{{ room.room_name }}</p>
                    </article>
                    {% if building.building_owner == request.user %}
                    <a href="{% url 'edit_photo' room.roomid %}">Edit photos</a>
                    {% endif %}
                </div>
                <div>
                    <h3>Status</h3>
                        <article>
                        <p>Roommates</p>
                        <p>{{ room.current_male }} - Male</p>
                        <p>{{ room.current_female }} - Female</p>
                        <p>Available Space: {{ room.person_free }}</p>
                    </article>
                    {% if building.building_owner == request.user %}
                        <button id="update_room" class="room_update_button" id="{{ room.roomid }}">Update Room</button>
                    {% endif %}
                </div>
                <div>
                    <h3>Additional Info</h3>
                    <article>
                        <p>Room size: {{ room.room_size }}</p>
                        {% if room.bed > 0 %}
                            <p>Single bed: {{ room.bed }}</p>
                        {% endif %}
                        {% if room.double_deck > 0 %}
                            <p>Double deck: {{ room.double_deck }}</p>
                        {% endif %}
                            
                        {% if room.shower %}
                        <p>Shower</p>
                        {% endif %}
                    
                        {% if room.priv_bathroom %}
                        <p>Private bathroom</p>
                        {% endif %}
                    
                        {% if room.public_bathroom %}
                        <p>Public bathroom</p>
                        {% endif %}
                
                        {% if room.AC %}
                        <p>Air Conditioned</p>
                        {% endif %}
                            
                        {% if room.wardrobe %}
                        <p>Wardrobe</p>
                        {% endif %}
                    
                        {% if room.kitchen %}
                        <p>Kitchen</p>
                        {% endif %}
                    
                        {% if room.free_wifi %}
                        <p>Free Wifi</p>
                        {% endif %}
                    </article>
                </div>
            </div>
            {% endfor %}
            <div class="policiesbox">
                <div>
                    <h3>POLICIES</h3>
                </div>
                {% comment  %} palihog kog bullet points sa ul pre. {% endcomment %}
                <ul>
                    {% for policy in policies %}
                    <li>{{ policy.policy }}</li>
                    {% endfor %}
                </ul>
            </div>
            
            
            <div class="feedbacksbox">
                <div class="title">
                    <h3>FEEDBACKS</h3>  
                </div>
                {% if not request.user.usertype == 'Landlord' %}
                    <form class="feedback_box" action="{% url 'newfeedback' %}" method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="{{ feedbackform.boardingid.name }}" value="{{ building.buildingid }}">
                        
                        {{ feedbackform.rating }}
                        
                        <label for="message">Message:</label>
                        <textarea name="{{ feedbackform.message.name }}" id="" cols="30" rows="10" placeholder="Input message Here"></textarea>
                        
                        <input type="submit" value="Send">
                    </form>
                {% endif %}
                {% for feedback in feedbacks %}
                    <div class="feedbacks">
                        <!-- NORMAL DISPLAY SA FEEDBACK -->
                        <div class="feedbackdisplay">
                            <h3>{{ feedback.userid.fullname }}</h3>

                            <p>(Rating: {{ feedback.rating }}) 
                                {% if feedback.rating == '1' %}
                                ⭐
                                {% elif feedback.rating == '1.5' %}
                                ⭐💫
                                {% elif feedback.rating == '2' %}
                                ⭐⭐
                                {% elif feedback.rating == '2.5' %}
                                ⭐⭐💫
                                {% elif feedback.rating == '3' %}
                                ⭐⭐⭐
                                {% elif feedback.rating == '3.5' %}
                                ⭐⭐⭐💫
                                {% elif feedback.rating == '4' %}
                                ⭐⭐⭐⭐
                                {% elif feedback.rating == '4.5' %}
                                ⭐⭐⭐⭐💫
                                {% elif feedback.rating == '5' %}
                                ⭐⭐⭐⭐⭐
                                {% else %}
                                👎
                                {% endif %}
                            </p>
                            
                            <p>{{ feedback.message}}</p>
                            
                            {% if feedback.userid == request.user %}
                            <button class="feedback_edit_btn">Edit</button>
                            {% endif %}
                        </div>

                        <!-- INIG CLICK SA EDIT -->
                        <div class="edit_comment_container hidden">
                            <h3>{{ feedback.userid.fullname }}</h3>
                            <form class="feedback_edit_form" action="{% url 'update_feedback' feedback.feedbackid %}" method="POST">
                                {% csrf_token %}
                                <input type="hidden" name="{{ feedbackform.boardingid.name }}" value="{{ feedback.boardingid.buildingid }}">
                                <div>
                                    <p>Rating</p>
                                    {{ feedbackform.rating }}
                                </div>
                                <textarea name="{{ feedbackform.message.name }}" id="" cols="30" rows="10">{{ feedback.message }}</textarea>
                                <input type="submit" value="Save">
                            </form>
                            <button class="feedback_cancel_edit">Cancel</button>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="modal hidden">
                <form action="{% url 'room_create' building.buildingid %}" method="POST">
                    {% csrf_token %}
                    <div>
                        <div>
                            <h2>Add new room</h2> <button id="addroombackbtn">back</button>
                        </div>
                        <div>
                            <label for="room_name">Room Name:</label>
                            <input type="text" name="{{ roomform.room_name.name }}" > 
                        </div>
                        <div>
                            <label for="person_free">Person Available:</label>
                            <input type="text" name="{{ roomform.person_free.name }}" >
                        </div>
                        <div>
                            <label for="current_male">Male resident:</label>
                            <input type="text" name="{{ roomform.current_male.name }}" />
                        </div>
                        <div>
                            <label for="current_female">Female resident:</label>
                            <input type="text" name="{{ roomform.current_female.name }}" />
                        </div>
                        <!-- <div>
                            <label for="price">Price:</label>
                            <input type="text" name="{{ roomform.price.name }}" />
                        </div> -->
                        <div>
                            <label for="room_size">Room Size:</label>
                            <input type="text" name="{{ roomform.room_size.name }}" />
                        </div>
                    </div>
                    <div>
                        <p>Additional Info</p>
                        <div>
                            <label for="bed">Single bed:</label>
                            <input type="text" name="{{ roomform.bed.name }}" />
                        </div>
                        <div>
                            <label for="double_deck">Double bed:</label>
                            <input type="text" name="{{ roomform.double_deck.name }}" />
                        </div>
                        <div>
                            <label for="shower">Shower</label>
                            <input type="checkbox" name="{{ roomform.shower.name }}" />
                        </div>
                        <div>
                            <label for="priv_bathroom">Private Bathroom</label>
                            <input type="checkbox" name="{{ roomform.priv_bathroom.name }}" />
                        </div>
                        <div>
                            <label for="public_bathroom">Public Bathroom</label>
                            <input type="checkbox" name="{{ roomform.public_bathroom.name }}" />
                        </div>
                        <div>
                            <label for="AC">Air Conditioned</label>
                            <input type="checkbox" name="{{ roomform.AC.name }}"/>
                        </div>
                        <div>
                            <label for="wardrobe">Wardrobe</label>
                            <input type="checkbox" name="{{ roomform.wardrobe.name }}" />
                        </div>
                        <div>
                            <label for="kitchen">Kitchen</label>
                            <input type="checkbox" name="{{ roomform.kitchen.name }}" />
                        </div>
                        <div>
                            <label for="free_wifi">Free Wifi</label>
                            <input type="checkbox" name="{{ roomform.free_wifi.name }}" />
                        </div>
                    </div>
                    <input id="addroomsave" type="submit" value="SAVE">
                </form>
            </div>
            <!-- update room modal  -->
            <div id="update_modal" class="room_update_button hidden">

                <form action="{% url 'room_save' %}" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="room_id" id="room_id">
                    <label for="room_name">Room Name:</label>
                    <input type="text" name="{{ roomform.room_name.name }}" > 
                    <label for="person_free">Person Available:</label>
                    <input type="text" name="{{ roomform.person_free.name }}" >
                    
                    <label for="current_male">Male resident:</label>
                    <input type="text" name="{{ roomform.current_male.name }}" />
        
                    <label for="current_female">Female resident:</label>
                    <input type="text" name="{{ roomform.current_female.name }}" />
        
                    <!-- <label for="price">Price:</label>
                    <input type="text" name="{{ roomform.price.name }}" /> -->
        
                    <label for="room_size">Room Size:</label>
                    <input type="text" name="{{ roomform.room_size.name }}" />
        
        
                    <p><b>Additional Information:</b></p>
        
                    <label for="bed">Single bed:</label>
                    <input type="text" name="{{ roomform.bed.name }}" />
        
                    <label for="double_deck">Double bed:</label>
                    <input type="text" name="{{ roomform.double_deck.name }}" />
        
                    <input type="checkbox" name="{{ roomform.shower.name }}" />
                    <label for="shower">Shower</label>
        
                    <input type="checkbox" name="{{ roomform.priv_bathroom.name }}" />
                    <label for="priv_bathroom">Private Bathroom</label>
        
                    <input type="checkbox" name="{{ roomform.public_bathroom.name }}" />
                    <label for="public_bathroom">Public Bathroom</label>
        
                    <input type="checkbox" name="{{ roomform.AC.name }}"/>
                    <label for="AC">Air Conditioned</label>
        
                    <input type="checkbox" name="{{ roomform.wardrobe.name }}" />
                    <label for="wardrobe">Wardrobe</label>
        
                    <input type="checkbox" name="{{ roomform.kitchen.name }}" />
                    <label for="kitchen">Kitchen</label>
        
                    <input type="checkbox" name="{{ roomform.free_wifi.name }}" />
                    <label for="free_wifi">Free Wifi</label>
        
                    <input type="submit" value="SAVE">
                </form>
            </div>

            <!-- REPORT MODAL -->
            <div id="report_modal" class="hidden">
                <button id="close_report">X</button>
                <h4>Reporting {{ building.building_name }}</h4>
                <label for="reason">Please state your reason for the report:</label>
                <div class="textarea_button_box">
                    <textarea name="{{ building_report_form.reason.name }}" id="" cols="30" rows="10" placeholder="Limit of 250 characters"></textarea>
                    <div>
                        <input type="hidden" name="{{ building_report_form.buildingid.name }}" value="{{ building.buildingid }}">
                        <button id="report_button">Report</button>
                        <button id="cancel_report_button">Cancel</button>
                    </div>
                </div>
            </div>  

        </div>
        
        <div class="fixedpage">
            <div class="bhousenamebox">
                

                <h3>{{ building.building_name }}</h3>
                <div class="bhouseicons">
                    
                    {% if not request.user.usertype == 'Landlord' %}
                    <img src="{% static 'imgs/svgs/report.svg' %}" alt="report_image">
                    {% endif %}
                    <!-- <input type="submit" value="🤍"> -->
                    <div id="heart_container" value="{{ building.buildingid }}">
                        <!-- <div id="heart_sign" class="heart" value="{{ building.buildingid }}"></div> -->
                    </div>

                    <a href="{% url 'home' %}"><img src="{% static 'imgs/building/back-button.png' %}" alt="back" ></a>
                </div>
                
            </div>
            <div class="infobox">   
                <p>{{ building.complete_address }}</p>
                <p class="owner"><span>{{ building.building_owner }}</span> (Owner's email)</p>
                
                <div class="verifyRequestbox">
                    <p><span>vacant room: </span>{{ building.rooms_vacant }}</p>
                    <div id="verification_status_box" value="{{ building.buildingid }}">
                    </div>
                    {% if request.user.usertype == 'Boarder' %}
                        <div id="online_transaction_container" class="hidden">
                            <input type="hidden" name="roomid" id="roomidholder">
                            
                            <div id="qr_container" class="hidden">
                                <button id="generate_qr">QR Code</button>
                                <button id="send_payment_receipt">Send Receipt</button>
                            </div>
    
                            <div id="reservation_container">
                                <p id="waiting" class="hidden">Please Wait...</p>
                                <button id="request_reservation"  class="hidden">Request Reservation</button>
                                <button id="cancel_request_reservation" class="hidden">Cancel Reservation</button>
                            </div>
                            
                        </div>
                    {% endif %}
                </div>
                
                <a href="{{ building.coordinates }}" target="_blank">View in Map</a>

                {% if request.user.usertype == 'Boarder' %}
                <div id="send_message" value="">
                    <img src="{% static 'imgs/send_mail.png' %}" alt="Send Mail">
                    <p>Send Message</p>
                </div>
                {% endif %}
                
                {% if building.building_owner == request.user %}
                    <button id="add_new_room_btn">Add New Room</button>
                    
                    <a href="{% url 'update_building' building.buildingid %}">Update</a>
                {% endif %}

                

            </div>
            <div class="roomsbox">
                <h3>ROOMS</h3>
                <div id="roombox_item_container">
                    {% for room in rooms %}
                    <p class="view_photo_btn" id="{{ room.roomid }}">{{ room.room_name }}</p>
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="modal hidden" id="qr_modal">
            <img src="{{ qr_code }}" alt="qr_modal" id="qr_img">
            <img src="{% static 'imgs/remove.png' %}" alt="close_btn" id="qr_close_btn">
        </div>

        <div id="send_payment" class="modal hidden">
            <div id="payment_form">
                <div id="receipt_preview">
                    <span>Select an Image</span>
                </div>
                <div class="inputfields">
                    <div class="choosefilediv">
                        <label for="qr_gcash">Receipt Image</label>
                        <input type="file" name="payment_img" id="payment_img" accept = 'image/*' required>
                    </div>
                    <div class="referalNumber">
                        <label for="referal">Referal Number:</label>
                        <input type="text" name="referralid" id="referralid" placeholder="Referel Number" required>
                    </div>
                </div>
                
                <div id="payment_btn_box">
                    <button id="send_payment_btn">Send</button>
                    <button id="cancel_payment_btn">Cancel</button>
                </div>
            </div>
        </div>
    </section>    
    <script src="{% static 'scripts/modal.js' %}?100"></script>
    
    <script type="text/javascript"
        src="https://cdn.jsdelivr.net/npm/@emailjs/browser@4/dist/email.min.js">
    </script>
    <script type="text/javascript">
        const noImagePath = "{% static 'imgs/building/no_image.jpg' %}"
    </script>
    {% endblock bodycontent %}

{% block last_scripts %}
    <script src="{% static 'scripts/building.js' %}?106"></script>

{% endblock last_scripts %}
