{% extends 'index.html' %}

{% block bodycontent %}
        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <label for="building_name">Building Name:</label>
            <input type="text" name="{{ form.building_name.name }}" required>

            <label for="vacant">Vacant Rooms</label>
            <input type="number" name = "{{ form.rooms_vacant.name }}" required>

            <label for="zip_code">Zip Code:</label>
            <input type="number" name="{{ form.zip_code.name }}" required>

            <label for="street">Street</label>
            <input type="text" name = "{{ form.street.name }}" required>

            <label for="city">City</label>
            <input type="text" name = "{{ form.city.name }}" required>

            <label for="province">Province</label>
            <input type="text" name = "{{ form.province.name }}" required>

            <label for="country">Country</label>
            <input type="text" name = "{{ form.country.name }}" required>

            <label for="details">Details</label>
            <textarea name="{{ form.details.name }}" id="" cols="30" rows="10"></textarea>

            <label for="coordinates">Coordinates</label>
            <input type="text" name="{{ form.coordinates.name }}" required>

            <label for="image">Image:</label>
            {{ form.building_image }}
    
            <input type="submit" value="Submit">
        </form>
{% endblock bodycontent %}