
    <input type="hidden" name="room_id" id="room_id" value="1">
    <label for="room_name">Room Name:</label>
    <input type="text" name="room_name"> 
    <label for="person_free">Person Available:</label>
    <input type="text" name="person_free">
    
    <label for="current_male">Male resident:</label>
    <input type="text" name="current_male">

    <label for="current_female">Female resident:</label>
    <input type="text" name="current_female">

    <label for="price">Price:</label>
    <input type="text" name="price">

    <label for="room_size">Room Size:</label>
    <input type="text" name="room_size">


    <p><b>Additional Information:</b></p>

    <label for="bed">Single bed:</label>
    <input type="text" name="bed">

    <label for="double_deck">Double bed:</label>
    <input type="text" name="double_deck">

    <input type="checkbox" name="shower">
    <label for="shower">Shower</label>

    <input type="checkbox" name="priv_bathroom">
    <label for="priv_bathroom">Private Bathroom</label>

    <input type="checkbox" name="public_bathroom">
    <label for="public_bathroom">Public Bathroom</label>

    <input type="checkbox" name="AC">
    <label for="AC">Air Conditioned</label>

    <input type="checkbox" name="wardrobe">
    <label for="wardrobe">Wardrobe</label>

    <input type="checkbox" name="kitchen">
    <label for="kitchen">Kitchen</label>

    <input type="checkbox" name="free_wifi">
    <label for="free_wifi">Free Wifi</label>

    <input type="submit" value="SAVE">
