{% extends 'index.html' %}

{% block stylecontent %}
{% load static %}
    <link rel="stylesheet" href="{% static 'css/edit_building.css' %}?10">
    <link rel="stylesheet" href="{% static 'css/image_upload.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">
    <script>
        const csrfToken = '{% csrf_token %}';
    </script>

{% endblock stylecontent %}



{% block bodycontent %}
    <section>
        <div id="left_bar">
            <button id="add_building_btn"> Create/Add Building</button>
            <h3>Buildings</h3>
            <ul class="leftbarbox">
                
                {% if buildings|length == 0 %}
                    <div class="adiv" style="margin-top: 50px;">
                        <h3>NO BUILDING FOUND</h3>
                    </div>
                {% else %}
                    {% for building in buildings %}
                    <div class="adiv">
                        <a class="buildingname" href="javascript:void(0);">{{ building.building_name }}
                            <img src="{% static 'imgs/editbuilding/down.png' %}" alt="">
                        </a>
                    </div>
                    <ul class="hiddenbtns edit_btn_list">
                        <input type="hidden" class="building_id" value="{{ building.buildingid }}">
                        <li class="li">
                            <div class="div"></div>
                            <button class="edit_btn" value="Edit Building">Edit Building</button>
                        </li>
                        <li>
                            <div class="div1"></div>
                            <button class="edit_btn" value="Certificates">Certificates</button>
                        </li>
                        <li>
                            <div class="div1"></div>
                            <button class="edit_btn" value="Amenities">Amenities</button>
                        </li>
                        <li>
                            <div class="div1"></div>
                            <button class="edit_btn" value="Policies">Policies</button>
                        </li>
                        <li>
                            <button class="edit_btn" value="Rooms">Rooms</button>
                        </li>
                    </ul>
                    {% endfor %}
                {% endif %}
            </ul>
        </div>

        <div id="room_bar" class="bar_room hidden"> <!--  -->
            <button id="add_room_btn">Add New Room</button>
            <div id="room_view" class="mid_item hidden">
                
                <div id="rooms_container"></div>
                
            </div>

            <!-- PHOTOS VIEW -->
            <div id="photo_view" class="mid_item hidden">
                <div class="name_button">
                    <h3>Photos of <span id='photo_name'></span></h3>
                    <img class="backbtn" src="{% static 'imgs/building/back-button.png' %}" alt="back" >
                </div>
                <button class="edit_btn" value="upload_room_photo">Upload Photo</button>
                <input type="hidden" id="roomid_holder">
                <ul id="photo_container">
                    <!-- ROOM PHOTOS HERE -->
                </ul>
            </div>
            <h1 id="no_room_message" class="mid_item hidden">NO ROOMS FOUND</h1>
        </div>

        <div id="certificate_bar" class="hidden">
            <button id="add_certificate_btn">Add New Certificate</button>
            <ul id="certificatelists">

            </ul>
        </div>
        
        <div id="form_container">
            <div id="building_form" class="form_item hidden">
                <h1>EDIT BUILDING</h1>
                <form id="building_update_form" action="" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input type="hidden" id="building_id_holder" value="">
                    <div class="input_box">
                        <div class="input_label_div">
                            <label for="building_name">Building Name:</label>
                            <input type="text" id="bldg_name" name="{{ bldg_form.building_name.name }}" value="{{ form.building_name.value }}" required>
                        </div>
                        <div class="input_label_div">
                            <label for="price">Price</label>
                            <input type="number" id="bldg_price" name="{{ bldg_form.price.name }}" value="{{ form.price.value }}" required>
                        </div>
                        <div class="input_label_div">
                            <label for="vacant">Vacant Rooms</label>
                            <input type="number" id="bldg_vacant" name = "{{ bldg_form.rooms_vacant.name }}" value="{{ form.rooms_vacant.value }}" required>
                        </div>
                        <div class="input_label_div">
                            <label for="zip_code">Zip Code:</label>
                            <input type="number" id="bldg_zipcode" name="{{ bldg_form.zip_code.name }}" value="{{ form.zip_code.value }}" required>
                        </div>
                        <div class="input_label_div">
                            <label for="street">Street</label>
                            <input type="text" id="bldg_street" name = "{{ bldg_form.street.name }}" value="{{ form.street.value }}" required>
                        </div>
                        <div class="input_label_div">
                            <label for="city">City</label>
                            <input type="text" id="bldg_city" name = "{{ bldg_form.city.name }}" value="{{ form.city.value }}" required>
                        </div>
                        <div class="input_label_div">
                            <label for="province">Province</label>
                            <input type="text" id="bldg_province" name = "{{ bldg_form.province.name }}" value="{{ form.province.value }}" required>
                        </div>
                        <div class="input_label_div">
                            <label for="country">Country</label>
                            <input type="text" id="bldg_country" name = "{{ bldg_form.country.name }}" value="{{ form.country.value }}" required>
                        </div>
                        <div class="input_label_div">
                            <label for="coordinates">Coordinates</label>
                            <input type="text" id="bldg_coords" name="{{ bldg_form.coordinates.name }}" value="{{ form.coordinates.value }}" required>
                        </div>
                        <div class="input_label_div">
                            <label for="details">Details</label>
                            <textarea id="bldg_desc" name="{{ bldg_form.details.name }}" id="" cols="30" rows="10">{{ form.details.value }}</textarea>
                        </div>

                        <div class="input_label_div">
                            <label for="building_image">Building Image:</label>
                            <input type="file" name="{{ bldg_form.building_image.name }}"  id="bldg_image_input" class="hidden">
                            <div id="building_image_box">
                                <img src="{{ bldg_form.building_image.src }}" alt="building_image" id="bldg_image">
                                <img src="{% static 'imgs/upload_image.png' %}" alt="upload_icon" class='image_upload_icon' title="Update Building Image" id="bldg_image_upload">
                            </div>
                        </div>

                        <div class="input_label_div">
                            <label for="building_image">Gcash:</label>
                            <input type="file" name="{{ bldg_form.gcash_qr.name }}" id="gcash_input" class="hidden">
                            <div id="gcash_box">
                                <img src="{{ bldg_form.gcash_qr.src }}" alt="gcash_qr" id="gcash_image">
                                <img src="{% static 'imgs/upload_image.png' %}" alt="upload_icon" class='image_upload_icon' title="Update new GCash QR"  id="bldg_gcash_upload">
                            </div>
                            
                        </div>
                    </div>
                    <input type="submit" value="Save">
                </form>
            </div>

            <div id="amenities_section" class="form_item hidden">
                <h1>Amenities Form</h1>
                <div id="amenity_form">
                    <div id="amenity_update_form" class="amenity_form_items">
                    
                    </div>
    
                    <div id="amenities_create_form" class="amenity_form_items">
                    </div>
                </div>
            </div>

            <div id="policies_form" class="form_item hidden">
                <h1>Policies</h1>
                <div class="policies_div">
                    <button id="add_policy_btn" value="">Add new policy</button>
                    <ul id="policies_container">
                    </ul>
                </div>
            </div>

            <!-- UPLOAD ROOM PHOTO V2.1 -->
            <div id="upload_room_photo" class="form_item hidden">
                <h1>Upload Room Photo</h1>
                <div id="upload_room_photo_container">
                    <form action="" method="POST" id="room-photo-upload-form" class="uploader" enctype="multipart/form-data">
                        {% csrf_token %}
                        
                        <!-- Hidden input for room ID -->
                        <input type="hidden" id="upload_roomid_holder" name="{{ photoform.roomid.name }}" value="" />
                        
                        <!-- File input -->
                        <input id="room-photo-upload" type="file" name="{{ photoform.room_img.name }}" accept="image/*" value="" />
                        
                        <label for="room-photo-upload" id="room-file-drag">
                            <img id="room-image-preview" src="#" alt="Preview" class="hidden" />
                            
                            <div id="room-start">
                                <i class="fa fa-download" aria-hidden="true"></i>
                                <div>Select a file or drag here</div>
                                <div id="room-notimage" class="hidden">Please select an image</div>
                                <span id="room-file-upload-btn" class="btn btn-primary">Select a file</span>
                            </div>
                            
                            <div id="room-response" class="hidden">
                                <div id="room-messages"></div>
                                <progress class="progress" id="room-file-progress" value="0">
                                    <span>0</span>%
                                </progress>
                            </div>
                        </label>
                        
                        <input id="upload_room_photo_btn" type="button" value="Submit" />
                    </form>
                </div>
            </div>
                          
            <div id="edit_room_form" class="form_item hidden">
                <h1>EDIT ROOM FORM</h1>
                <div id="edit_room_form_container">

                </div>
            </div>

            <div id="large_image_view" class="form_item hidden">

            </div>

            <div id="new_building_form" class="form_item hidden">
                <h1>NEW BUILDING FORM</h1>
                <form class="newbuildingform" action="{% url 'add_building' %}" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="newbuilddiv">
                        <label for="building_name">Building Name:</label>
                        <input type="text" name="{{ building_form.building_name.name }}" required>
                    </div>
                    <div class="newbuilddiv">
                        <label for="vacant">Vacant Rooms</label>
                        <input type="number" name = "{{ building_form.rooms_vacant.name }}" required>
                    </div>
                    <div class="newbuilddiv">
                        <label for="price">Price</label>
                        <input type="number" name="{{ building_form.price.name }}" required>
                    </div>
                    <div class="newbuilddiv">
                        <label for="zip_code">Zip Code:</label>
                        <input type="number" name="{{ building_form.zip_code.name }}" required>
                    </div>
                    <div class="newbuilddiv">
                        <label for="street">Street</label>
                        <input type="text" name = "{{ building_form.street.name }}" required>
                    </div>
                    <div class="newbuilddiv">
                        <label for="city">City</label>
                        <input type="text" name = "{{ building_form.city.name }}" required>
                    </div>
                    <div class="newbuilddiv">
                        <label for="province">Province</label>
                        <input type="text" name = "{{ building_form.province.name }}" required>
                    </div>
                    <div class="newbuilddiv">
                        <label for="country">Country</label>
                        <input type="text" name = "{{ building_form.country.name }}" required>
                    </div>
                    <div class="newbuilddiv">
                        <label for="coordinates">Coordinates</label>
                        <input type="text" name="{{ building_form.coordinates.name }}" required>
                    </div>
                    <div class="newbuilddiv">
                        <label for="details">Details</label>
                        <textarea name="{{ building_form.details.name }}" id="" cols="30" rows="10"></textarea>
                    </div>
                    <div class="newbuilddiv2">
                        <input class="newbuildsubmit" type="submit" value="Submit">
                        <div>
                            {{ building_form.building_image }}
                        </div>
                    </div>
                </form>
        
            </div>

            <div id="new_room_form" class="form_item hidden">
                <h1>ADD NEW ROOM</h1>
                <div id="room_form">
                    <input type="hidden" id="room_id_holder">
                    <div class="newroominputs">
                        <div class="newroom_container">
                            <label for="room_name">Room Name:</label>
                            <input type="text" name="room_name" > 
                        </div>
                        <div class="newroom_container">
                            <label for="person_free">Person Available:</label>
                            <input type="text" name="person_free" >
                        </div>
                        <div class="newroom_container">
                            <label for="current_male">Male resident:</label>
                            <input type="text" name="current_male" />
                        </div>
                        <div class="newroom_container">
                            <label for="current_female">Female resident:</label>
                            <input type="text" name="current_female" />
                        </div>
                        <!-- <div>
                            <label for="price">Price:</label>
                            <input type="text" name="price" />
                        </div> -->
                        <div class="newroom_container">
                            <label for="room_size">Room Size:</label>
                            <input type="text" name="room_size" />
                        </div>
                    </div>
                    <p>Additional Info</p>
                    <div class="newroominputs">
                        <div class="newroom_container">
                            <label for="bed">Single bed:</label>
                            <input type="text" name="bed" />
                        </div>
                        <div class="newroom_container">
                            <label for="double_deck">Double bed:</label>
                            <input type="text" name="double_deck" />
                        </div>
                    </div>
                    <div class="newroomcheckbox">
                        <div>
                            <input type="checkbox" name="shower" />
                            <label for="shower">Shower</label>
                        </div>
                        <div>
                            <input type="checkbox" name="priv_bathroom" />
                            <label for="priv_bathroom">Private Bathroom</label>
                        </div>
                        <div>
                            <input type="checkbox" name="public_bathroom" />
                            <label for="public_bathroom">Public Bathroom</label>
                        </div>
                        <div>
                            <input type="checkbox" name="AC"/>
                            <label for="AC">Air Conditioned</label>
                        </div>
                        <div>
                            <input type="checkbox" name="wardrobe" />
                            <label for="wardrobe">Wardrobe</label>
                        </div>
                        <div>
                            <input type="checkbox" name="kitchen" />
                            <label for="kitchen">Kitchen</label>
                        </div>
                        <div>
                            <input type="checkbox" name="free_wifi" />
                            <label for="free_wifi">Free Wifi</label>
                        </div>
                    </div>
                    <input id="addroomsave" type="submit" value="SAVE">
                </div>
            </div>

            <div id="upload_certificate" class="form_item hidden">
                <div id="upload_certificate_container">
                    <form action="" method="POST" id="certificate-upload-form" class="uploader" enctype="multipart/form-data">
                        {% csrf_token %}
                    
                        <!-- Hidden input for building ID -->
                        <input type="hidden" id="upload_buildingid_holder" name="{{ certificate_form.buildingid.name }}" value="" />
                    
                        <!-- File input -->
                        <h1>Upload Certificate</h1>
                        <label for="certificate_name">Certificate Name:
                            <input type="text" name="{{ certificate_form.certificate_name.name }}" required>
                        </label>
                        
                        <input id="certificate-upload" type="file" name="{{ certificate_form.image.name }}" accept="image/*" value="" />
                        
                        <label for="certificate-upload" id="file-drag2">
                            <img id="certificate-image" src="#" alt="Preview" class="hidden" />
                    
                            <div id="start2">
                                <i class="fa fa-download" aria-hidden="true"></i>
                                <div>Select a file or drag here</div>
                                <div id="notimage2" class="hidden">Please select an image</div>
                                <span id="certificate-upload-btn" class="btn btn-primary">Select a file</span>
                            </div>
                    
                            <div id="response2" class="hidden">
                                <div id="messages2"></div>
                                <progress class="progress" id="file-progress2" value="0">
                                    <span>0</span>%
                                </progress>
                            </div>
                        </label>
                    
                        <input id="upload_certificate_btn" type="button" value="Submit" />
                    </form>
                </div>
            </div>
  
            <div id="view_certificate" class="form_item hidden">
                <div id="certificate_view_container">
                    <h1 id="certificate_name"></h1>
                    <div id="cert_box">
                        <div class="cert_row">
                            <p>Date Uploaded:</p>
                            <p id="cert_date"></p>
                        </div>
                        <div class="cert_row">
                            <p>Image:</p>
                            <img src="" alt="cert_image" id="cert_image">
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
        <div id="fullscreen-overlay" class="fullscreen-overlay">
            <img id="fullscreen-image">
        </div>    
    </section>
    <script>
        const deleteIconUrl = "{% static 'imgs/editbuilding/mark.png' %}";
    </script>
    <script src="{% static 'scripts/edit_building.js' %}?18"></script>
    <script src="{% static 'scripts/image_upload.js' %}?8" ></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    {% endblock %}
