{% extends 'index.html' %}

{% block stylecontent %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}?1">

{% endblock stylecontent %}


{% block bodycontent %}
{% csrf_token %}
<div class="heropage">
    <div class="heropic">
        <div class="txtbox">
            <h1>We’ll help you find your place you’ll love</h1>
        </div>
        <div class="searchbox">
            <input id="filter_value" type="text" placeholder="Enter an Address, neighborhood, city,  or ZIP code">
            <img id="filter_btn" src="{% static 'imgs/home/searchicon.png' %}" alt="Search Icon">
        </div>
    </div>
    <div id="buildings_container">
    </div>
    <div id="number_pages"></div>
</div>
<footer class="footer">
    <div class="footer-container">
      <div class="footer-section">
        <h3>Explore Options</h3>
        <ul>
          <li><a href="#">Find a Boarding House</a></li>
          <li><a href="#">Explore Neighborhoods</a></li>
          <li><a href="#">Browse by City</a></li>
          <li><a href="#">Room Availability</a></li>
        </ul>
      </div>
      <div class="footer-section">
        <h3>For Landlords</h3>
        <ul>
          <li><a href="#">Post Your Property</a></li>
          <li><a href="#">Add Room Photos</a></li>
          <li><a href="#">Manage Listings</a></li>
          <li><a href="#">Tips for Landlords</a></li>
        </ul>
      </div>
      <div class="footer-section">
        <h3>About RentScout</h3>
        <ul>
          <li><a href="#">Our Mission</a></li>
          <li><a href="#">Blog</a></li>
          <li><a href="#">Partner with Us</a></li>
          <li><a href="#">Contact Support</a></li>
        </ul>
      </div>
      <div class="footer-section">
        <h3>Connect with us</h3>
        <div class="social-links">
          
          <a href="#"><img src="{% static 'imgs/home/facebook.png' %}" alt="facebook logo"></a>
          <a href="#"><img src="{% static 'imgs/home/instagram.png' %}" alt="instragram logo"></a>
          <a href="#"><img src="{% static 'imgs/home/twitter.png' %}" alt="twitter logo"></a>
        </div>
      </div>
    </div>
    <div class="footer-bottom">
      <p>&copy; 2024 RentScout</p>
      <div class="footer-links">
        <a href="#">Terms of Service</a>
        <a href="#">Privacy Policy</a>
        <a href="#">Accessibility</a>
      </div>
    </div>
</footer>

  
    
    <script src="{% static 'scripts/home.js' %}"></script>
{% endblock %}
