{% extends 'index.html' %}

{% block stylecontent %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}?1">

{% endblock stylecontent %}


{% block bodycontent %}
<div class="heropage">
    <div class="heropic">
        <div class="txtbox">
            <h1>We’ll help you find your place you’ll love</h1>
        </div>
        <div class="searchbox">
            <input id="filter_value" type="text" placeholder="Enter an Address, neighborhood, city,  or ZIP code">
            <img id="filter_btn" src="{% static 'imgs/home/searchicon.png' %}" alt="Search Icon">
        </div>
    </div>
    <div id="buildings_container">
    </div>
</div>
    
    <script src="{% static 'scripts/home.js' %}"></script>
{% endblock %}
