{% extends 'index.html' %}

{% block bodycontent%}
{% load static %}
    <section class="signinbody" style="background-image: url('{% static 'imgs/signin/bg.png' %}');">
        <div class="greetbox">
            <h1>Welcome to <br> RentScout</h1>
        </div>
        <form class="inputbox">
            <h1>Sign in</h1>
            <div>
                <label for="username">Username:</label>
                <input type="text" placeholder="Enter your username">
            </div>
            <div class="flex flex-col">
                <label for="password">Password:</label>
                <input type="password" placeholder="Enter your password">
            </div>
            <button type="submit">Sign in</button>
            <p>Create account</p>
        </form>
    </section>
{% endblock %}