{% extends 'index.html' %}

{% block stylecontent %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/user_profile.css' %}">
{% endblock stylecontent %}


{% block bodycontent %}
<section>
    <h1>PROFILE INFORMATION</h1>
    <form id="user_profile_form" action="{% url 'update_user_profile' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="hidden" name="userid" value="{{ request.user.userid }}">
        <div class="profileinputs">
            <div class="input_container">
                {% if  user_data.verified %}
                    <label for="email">Email:</label>
                    <input type="email" name="email" value="{{ user_data.email }}" required disabled>
                {% else %}
                    <label for="email">Email:</label>
                    <input type="email" name="email" value="{{ user_data.email }}" required>
                {% endif %}
            </div>
            <div class="input_container">
                <label for="firstname">Firstname:</label>
                <input type="text" name="firstname" value="{{ user_data.firstname }}" required>
            </div>
            <div class="input_container">
                <label for="lastname">Lastname:</label>
                <input type="text" name="lastname" value="{{ user_data.lastname }}" required>
            </div>
            <div class="input_container">
                <label for="middlename">Middle Name:</label>
                <input type="text" name="middlename" value="{{ user_data.middlename }}" required>
            </div>
            <div class="input_container">
                <label for="birthdate">Birthdate (yyyy-mm-dd):</label>
                <input type="text" name="birthdate" value="{{ user_data.birthdate|date:'Y-m-d' }}" placeholder="yyyy-mm-dd" required>
            </div>
            <div class="input_container">
                <label for="gender">Gender:</label>
                <select name="gender" id="">
                    <option value="Male" 
                        {% if user_data.gender == "Male" %}
                        selected
                        {% endif %}>Male</option>
                    <option value="Female"
                    {% if user_data.gender == "Female" %}
                    selected
                    {% endif %}>Female</option>
                </select>
            </div>
            <div class="input_container">
                <label for="barangay">Barangay:</label>
                <input type="text" name="barangay" value="{{ user_data.barangay }}" >
            </div>
            <div class="input_container">
                <label for="province">Province:</label>
                <input type="text" name="province" value="{{ user_data.province }}" >
            </div>
            <div class="input_container">
                <label for="city">City:</label>
                <input type="text" name="city" value="{{ user_data.city }}" >
            </div>
            <div class="input_container">
                <label for="contact">Contact:</label>
                <input type="text" name="contact" value="{{ user_data.contact }}" >
            </div>
            
            {% if request.user.usertype == 'Landlord' %}
            <div class="input_container">
                <label for="gcash">Gcash Number:</label>
                <input type="text" name="gcash" value="{{ user_data.gcash }}" >
            </div>
            {% endif %}
        </div>
        <div class="profilepicturebox">
            <div id="profile_img_container">
                <input type="file" name="profile_image" id="profile_pic_input" class="hidden">
                <img src="{{ user_data.profile_image.url }}" alt="profile_img" id="profile_img">
            
                <img src="{% static 'imgs/plus.png' %}" alt="upload-image" id="upload_btn" title="Upload New Profile">
                
            </div>
            {% if request.user.verified %}
            <p>Verified</p>
            {% else %}
            <button type="button" id="get_otp">Verify Email</button>
            {% endif %}
            <input type="submit" value="Save">
        </div>
        

    </form>

    <div id="modal_body" class="hidden">
        <div class="otpdiv">
            <img src="{% static 'imgs/remove.png' %}" alt="close_btn" id="close_otp_modal">
            <div>
                <h2>OTP CONFIRMATION FORM</h2>
                <hr>
            </div>
            <p>We've sent an OTP to your email "<span id="user_email"></span>".<br>Please check your email,
            and enter the code below.<br>OTP will expire in 10 minutes.</p>
            <input type="text" name="OTP" id="OTP" placeholder="Enter OTP code here">
            <button type="button" id="resend_otp">Resend Code</button>
            <button type="button" id="confirm_otp">Confirm code</button>
        </div>
    </div>

    <script type="text/javascript"
        src="https://cdn.jsdelivr.net/npm/@emailjs/browser@4/dist/email.min.js">
    </script>
    <script src="{% static 'scripts/user_profile.js' %}"></script>

</section>
{% endblock %}
