<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <script src="{% static 'scripts\jquery.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/navigation.css' %}">
    <link rel="stylesheet" href="{% static 'styles/index.css' %}">
    <title>RENTSCOUT</title>
    {% block stylecontent %}
    {% endblock stylecontent %}
</head>
<style>
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Poppins', sans-serif;
    }
</style>
<body >
<body>
    <nav>
        <img src="{% static 'imgs/nav/logo22.png' %}" alt="Website logo" >

        <ul>
            <li>
                <a href="{% url 'home' %}">Home</a>
            </li>
            {% comment %} 
                <li>
                    <a href="{% url 'building_scrapper' %}">Building Scrapper</a>
                </li> 
            {% endcomment %}

            {% if not request.user.is_superuser %}
                <li>
                    <a href="{% url 'user_profile' %}">Profile</a>
                </li>
            {% endif %}
                        
            {% if not request.user.is_staff%}
                <li>
                    <a href="{% url 'bookmark_page' %}">My Bookmarks</a>
                </li>
            {% endif %}

            {% if request.user.usertype == 'Landlord' %}
                <li>
                    <a href="{% url 'edit_building' %}">Building</a>
                </li>
                <li>
                    <a href="{% url 'reservations' %}">Reservations</a>
                </li>
            {% endif %}

            {% comment %} 
                <li>
                    <a href="{% url 'new_building' %}">Create Building</a>
                </li> 
            {% endcomment %}

            {% if request.user.is_staff %}
                <li>
                    <a href="{% url 'reports_page' %}">Reports</a>
                </li>
                <li>
                    <a href="{% url 'verification_page' %}">Verifications</a>
                </li>
                <li>
                    <a href="{% url 'boarderq' 'NEW' %}">Database</a>
                </li>
            {% endif %}
            <!-- <li>
                <a href="https://www.google.com/maps/search/?api=1" target="_blank">
                    Open Google Maps
                </a>           
            </li> -->
        </ul>
        <div>
            {% if request.user.is_authenticated %}
                {% if request.user.fullname %}
                    <h4>Hi! {{ request.user.fullname }}</h4>
                {% else %}
                    <h4>Hi! {{ request.user.email }}</h4>
                {% endif %}
                <a href="{% url 'logout' %}">Logout</a>
            {% else %}
                <a href="{% url 'signin' %}">Signin</a>
            {% endif %}
        </div>
    </nav>

    {% comment %} TEMPORARY. AYAW E APIL SA DESIGN {% endcomment%}
    

    {% block bodycontent %}
    {% endblock %}

    <div id="messages-container">
        {% for message in messages %}
            {% if 'success' in message.tags %}
                <p class="message success_message">{{ message }}</p>
            {% else %}
                <p class="message error_message">{{ message }}</p>
            {% endif %}
        {% endfor %}
    </div>

    <div id="messaging_container">

        <!-- INBOX MESSAGING -->
        <div id="inbox" class="hidden">
            <div id="inbox_head">
                <h4>Message Inbox</h4>
                <button id="message_close_btn">X</button>
            </div>
            <ul id="inbox_container">

            </ul>
        </div>

        <!-- MESSAGE CONVERSATION -->
        <div id="message_convo" class="hidden">
            <input type="hidden" name="userid" id="receiverid">
            <div id="convo_head">
                <img src="{% static 'imgs/boy.png' %}" alt="User Image" id="user_image">
                <h4>Username</h4>
                <img src="{% static 'imgs/return.png' %}" alt="back_btn" id="message_back_btn">
            </div>

            <div id="convo_body">
                <!-- <p id="view_more_message" value="1">View More Message</p> -->
                <ul id="convo_list">

                </ul>
                <div id="image_preview_container"></div>
            </div>

            <div id="convo_footer">
                <img src="{% static 'imgs/megaphone.png' %}" alt="megaphone" title="Notify Landlord">
                <!-- <input type="file" name="image" class="hidden" id="attach_input"> -->
                <input type="file" name="images" class="hidden" id="attach_input" accept="image/*" multiple>
                <label for="image" id="label_holder">
                    <img src="{% static 'imgs/photo.png' %}" alt="Upload Photo" title="Upload Photo" id="attach_photo">
                </label>
                
                
                <div id="send_convo_form">
                    {% csrf_token %}
                    <textarea name="message" id="chat_message" cols="30" rows="10" placeholder="Enter Chat Here"></textarea>
                    <button id="send_convo_btn">Send</button>
                </div>
            </div>
        </div>

        <!-- CHAT HEAD KUNUHAY -->
        <div id="bubble">
            <img id="message-bubble" src="{% static 'imgs/wechat.png' %}" alt="Mail Image">
        </div>
    </div>

    <script src="{% static 'scripts/index.js' %}"></script>
    <script src="{% static 'scripts/messaging.js' %}"></script>

    {% block last_scripts %}

    {% endblock last_scripts %}
</body>
</html>