<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    
    {% block stylecontent %}
    {% endblock stylecontent %}
    <title>RENTSCOUT</title>
</head>
<style>
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Poppins', sans-serif;
    }
</style>
<body >
<body>
    {% if request.user.is_authenticated %}
        <a href="{% url 'logout' %}">Logout</a>
        <h1>{{ request.user.email }}</h1>
    {% else %}
        <a href="{% url 'signin' %}">Signin</a>
    {% endif %}

    {% comment %} TEMPORARY. AYAW E APIL SA DESIGN {% endcomment%}
    <a href="{% url 'building_info' 2 %}">Building 2</a> 

    <hr>
    {% block bodycontent %}
    {% endblock %}
</body>
</html>