<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <script src="{% static 'scripts\jquery.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/navigation.css' %}">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <title>RENTSCOUT</title>
    {% block stylecontent %}
    {% endblock stylecontent %}
</head>
<style>
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Poppins', sans-serif;
    }
</style>
<body >
<body>
    <nav>
        <img src="{% static 'imgs/nav/logo22.png' %}" alt="Website logo" >

        <ul>
            <li>temporary</li>
            <li>temporary</li>
            <li>temporary</li>
            <li>
                <a href="{% url 'user_profile' %}">MY PROFILE</a>
            </li>
            <li>
                <a href="{% url 'edit_building' %}">Edit Buildings</a>
            </li>
        </ul>
        <div>
            {% if request.user.is_authenticated %}
                <h4>Hi! {{ request.user.email }}</h4>
                <a href="{% url 'logout' %}">Logout</a>
            {% else %}
                <a href="{% url 'signin' %}">Signin</a>
            {% endif %}
        </div>
    </nav>

    {% comment %} TEMPORARY. AYAW E APIL SA DESIGN {% endcomment%}
    

    {% block bodycontent %}
    {% endblock %}

    <div>
        {% for message in messages %}
            <p>{{ message }}</p>
        {% endfor %}
    </div>
</body>
</html>